[submodule "sites/all/modules/commerce_checkoutpayment/includes/CheckoutApi"]
	path = sites/all/modules/commerce_checkoutpayment/includes/CheckoutApi
	url = https://github.com/CKOTech/checkout-php-library.git
	branch = CheckoutApi
